* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/*Banner*/

.Banner {
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url("Images/banner3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    max-width: 100%;
}
/*.header-navbar{
    position:fixed;
    z-index:1;
    background-color:darkgray;
    width:100%;
}*/
.nav-link {
    font-size: 15px;
}

hr {
    border-color: #ccc;
}

.Banner-header {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-login {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0.5px;
    color: white;
}

.view-photos {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #00acc1;
    font-size: 17px;
    height: 50px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 19px;
    border-radius: 5px;
    background-color: white;
}

.bt-banner-photo {
    position: absolute;
    bottom: 0;
    left: 0;
}



header nav {
    height: 60px;
}





.main {
    margin-top: 25px;
}

.mapIcon {
    height: 25px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.header-footer {
    display: flex;
    flex-wrap: wrap;
}

    .header-footer div {
        margin-right: 25px;
    }

.heading-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*.play-logo {
    width: 93px;
}*/
.navbar-header {
    display: flex;
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
}

    .navbar-header div {
        flex: 1;
        text-align: center;
    }

        .navbar-header div a {
            color: #00acc1
        }

.form-heading {
    background-color: #40abbc;
}

.start-date {
    background-image: url(Images/icon3.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.form-footer {
    font-size: 14px;
}

.list ul li {
    display: inline-block;
    text-align: center;
    width: 15%;
}

.list {
    border-top: 1px solid;
}

.video {
    width: 100%;
}

h2 {
    font-size: 36px;
    color: #00acc1;
    font-weight: bold;
}

h3 {
    color: #00acc1;
    font-weight: bold;
}

h4 {
    color: #e53b51;
    padding: 10px;
}


.btn-container {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
}

    .flex-container > div > button {
        color: #85C1E9;
    }

.div-container {
    padding-right: 0;
    padding-left: 0;
}

.forhover a:hover {
    background-color: #e53b51;
    color: white;
}


.cost-column1-img {
    align-content: center;
}

.cost-div {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px 0px;
}

.cost-column1 {
    display: flex;
    margin: 10px 0px;
}

.cost-column2 {
    display: flex;
    border-left: 1px solid #ccc;
    margin: 10px 0px;
}

.navigation li {
    display: block;
}

.banner-login {
    position: absolute;
    top: 0;
    right: 0;
}

li div {
    height: 100%;
    margin: auto;
}





.included div div {
    border-right: 1px solid #ccc;
}

.include-header {
    background-color: #00acc1;
    padding: 5px 0px 5px 50px;
    font-size: 22px;
}



.not-include-header {
    background-color: #e53b51;
    padding: 5px 0px 5px 50px;
    font-size: 22px;
}

.defference-content {
    padding: 15px 0px 18px 50px;
}

.table td, th {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.table thead {
    background-color: #00acc1;
}

.table-number {
    color: #e53b51;
}

.table-Sunday {
    color: #00acc1;
}

/*footer*/
/*.page-footer {
    background-color: #3d3d3d;
    height: 100px;
}

    .page-footer img {
        width: 160px;
        padding-top: 19px;
        padding-left: 10px;
    }

    .page-footer a {
        color: white;
        float: right;
        margin-right: 15px;
        margin-top: 37px;
    }*/

.page-footer {
    display: flex;
    background-color: #3d3d3d;
    flex-wrap:wrap;
    height: 100px;
    justify-content:space-between;
}
.footer-img img {
    width: 160px;
    padding-top: 19px;
    padding-left: 10px;
}
.footer-content div a {
    color: white;
    margin-right: 15px;
    
}
.footer-content div{
    display:inline-block;
    padding-top:30px;
}
.red {
    color: #e53b51;
}

.green {
    color: #00acc1;
}

@media (min-width: 320px) and (max-width: 480px) {


    .cost-div {
        display: flex;
        border: none;
        padding: 10px 0px;
        text-align: center;
    }

    .cost-column1 {
        display: grid;
        border: none;
        margin: 10px 0px;
    }

    .cost-column1-img {
        align-content: center;
    }

    .cost-column2 {
        display: grid;
        border: none;
        margin: 10px 0px;
    }

    

    .Banner-header {
        font-size: 24px;
        text-align: center;
    }

    .view-photos {
        position: absolute;
        bottom: 15px;
        right: 15px;
        left: unset;
        color: #00acc1;
        font-size: 17px;
        height: 50px;
        width: 150px;
        padding-top: 10px;
        padding-bottom: 19px;
        border-radius: 5px;
        background-color: white;
    }

    .play-logo {
        max-width: 60px;
        max-height: 60px;
    }

    h2 {
        font-size: 24px;
        color: #00acc1;
        font-weight: bold;
    }

    h3 {
        font-size: 21px;
        color: #00acc1;
        font-weight: bold;
    }

    .header-footer div img {
        display: block;
    }

    .header-footer div {
        margin-right: 15px;
        max-width: 50%;
    }

    .khumasi {
        font-size: 16px;
        font-weight: bold;
    }

    .banner-logo {
        max-width: 145px;
        max-height: 50px;
    }

    .Banner-header {
        font-size: 24px;
        text-align: center;
    }

    .forhover a {
        font-size: 8px;
        padding: 6px;
    }

    .included div div {
        border-right: none;
    }

    .include-header {
        background-color: #00acc1;
        padding: 5px 0px 5px 20px;
        font-size: 22px;
    }



    .not-include-header {
        background-color: #e53b51;
        padding: 5px 0px 5px 20px;
        font-size: 22px;
    }

    .defference-content {
        padding: 15px 0px 18px 20px;
    }

    /*footer*/
    .footer-img img {
        width: 135px;
    }
    .footer-content div a {
       
        font-size:13px;
       
    }
    .page-footer {
        
        height: 80px;
       
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {


    .cost-div {
        display: flex;
        border: 1px solid #ccc;
        padding: 10px 0px;
    }

    .cost-column1 {
        display: flex;
        margin: 10px 0px;
    }

    .cost-column2 {
        display: flex;
        border-left: 1px solid #ccc;
        margin: 10px 0px;
    }

    .Banner-header {
        font-size: 32px;
    }

    .view-photos {
        position: absolute;
        bottom: 15px;
        right: 15px;
        left: unset;
        color: #00acc1;
        font-size: 17px;
        height: 50px;
        width: 150px;
        padding-top: 10px;
        padding-bottom: 19px;
        border-radius: 5px;
        background-color: white;
    }
}
